/* css styles */
.important {
  color: maroon;
  text-align: center;
  font-size: 20px;
}



#mtcars-btn {
     font-size: x-small;
     padding: 0.2rem 0.3rem !important;
   }

#down-btn {
 margin-right: 2px;
 margin-left: 2px;
}

a:has(#mtcars-btn) {
 text-decoration: none !important;
}